@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #f6f6f6;
  --text: #000000;
  --gray-white: rgba(0, 0, 0, 0.1);
  --gray-content: rgba(0, 0, 0, 0.6);
  --btn-color: #ff006e;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* general css */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
input:focus {
  outline: none;
}
.container {
  width: 100%;
  height: 100%;
  padding: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: red; */
  flex-wrap: wrap;
}
.col-lg-5 {
  flex-basis: 24%;
  margin-bottom: 1.5rem;
}
.col-10 {
  flex-basis: 70%;
}
.col-2 {
  flex-basis: 28%;
}
header.close ~ main .col-lg-5 {
  flex-basis: 19%;
}
header {
  width: 260px;
  height: 100%;
  background: var(--text);
  padding: 15px 14px;
  transition: 0.5s all;
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  top: 0;
  border-right: 0.5px solid var(--gray-white);
  z-index: 12;
}
header.close {
  width: 77px;
}
header .close-mobile {
  display: none;
}
header .logo-part {
  display: flex;
  align-items: center;
}
header .logo-part .logo-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text);
  white-space: nowrap;
}
header.close .logo-part .logo-text {
  visibility: hidden;
}
header .logo-part .main-logo {
  width: 55px;
  cursor: pointer;
}
/* header.close .logo-part .main-logo {
  width: 100%;
  cursor: pointer;
} */
/* header .home-part {
  height: 80vh;
  overflow-y: scroll;
} */

header .home-part .line {
  width: 90%;
  height: 0.7px;
  background-color: var(--gray-white);
  margin: auto;
}
header .home-part .nav {
  padding: 10px 0;
}
header .home-part .nav .nav-item {
  line-height: 3rem;
  /* background-color: rebeccapurple; */
}
header .home-part .nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  padding: 0px 14px;
  color: var(--text);
  transition: 0.5s all;
}
header .home-part .nav .nav-item .nav-link:hover {
  background: var(--gray-white);
}
header .home-part .nav .nav-item .nav-link .icon {
  font-size: 1.3rem;
}
header .home-part .nav .nav-item .nav-link .text {
  margin-left: 1rem;
  white-space: nowrap;
  /* transition: 0.5s all; */
}
header.close .home-part .nav .nav-item .nav-link .text {
  visibility: hidden;
}

header .nav-bot {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
header .nav-bot .profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /*   */
}
header .nav-bot .nav-link:hover {
  background-color: transparent !important;
}
header .nav-bot .profile-part .text {
  display: flex;
  flex-direction: column;
  line-height: 18px;
}
header .nav-bot .profile-part .text .name {
  font-weight: 500;
  font-size: 0.9rem;
}
header .nav-bot .profile-part .text .email {
  font-size: 0.7rem;
  font-weight: 400;
}

.main {
  width: calc(100% - 250px);
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  transition: 0.5s all;
  padding: 10px 20px;
}
header.close + .main {
  width: calc(100% - 77px);
  transition: 0.5s all;
}
.top-bar {
  width: calc(100% - 250px);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s all;
  z-index: 11;
  border-bottom: 0.5px solid var(--gray-white);
}
header.close + .main .top-bar {
  width: calc(100% - 76px);
  transition: 0.5s all;
}
.top-bar .logo-mobile {
  display: none;
}
.top-bar .icon-for-mobile {
  display: none;
}
.top-bar .search-bar {
  width: 40rem;
  background-color: var(--gray-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.top-bar .search-bar .form-control {
  width: 100%;
  height: 100%;
  padding: 13px 10px;
  border: 0;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text);
}
.top-bar .search-bar .search-icon {
  height: 100%;
  font-size: 1.3rem;
  color: var(--text);
  cursor: pointer;
}
.top-bar .voice {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  background-color: var(--gray-white);
  border-radius: 50%;
  color: var(--text);
  cursor: pointer;
}
.top-bar .dark-light {
  margin-left: auto;
  color: var(--white);
  display: flex;
  align-items: center;
  color: var(--text);
}
.top-bar .dark-light .btn {
  height: 27px;
  width: 50px;
  background-color: var(--gray-white);
  margin-left: 0.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  transition: 0.5s all;
}
.top-bar .dark-light .btn .inner {
  height: 16px;
  width: 16px;
  background-color: var(--btn-color);
  border-radius: 50%;
  margin-left: 0;
  transition: 0.5s all;
}
.top-bar .dark-light .btn.active .inner {
  margin-left: 25px;
}

/* video section */
.videos-section {
  margin-top: 6rem;
}
.videos-section .card {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  cursor: pointer;
  transition: all 0.5s;
  padding: 10px 10px;
}
.videos-section .card:hover {
  box-shadow: 0 0 20px 2px var(--gray-white);
}
/* .videos-section .card .video-img {
  border-radius: 10px;
} */
.videos-section .content .channle {
  display: flex;
  justify-content: space-between;
}
.videos-section .channle .channle-profile {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--gray-white);
  /* flex-basis: 90px; */
}
.videos-section .channle .channle-content {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: var(--text);
}

.videos-section .channle-content .head {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.videos-section .channle-content .channle-name {
  font-size: 0.7rem;
  margin-top: 0.4rem;
  color: var(--gray-content);
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.videos-section .channle-content .timing {
  font-size: 0.7rem;
  color: var(--gray-content);
  font-weight: 500;
}
.videos-section .channle-content .timing .views {
  position: relative;
}
.videos-section .channle-content .timing .views::after {
  position: absolute;
  height: 2px;
  width: 2px;
  left: 2px;
  top: 0;
  border-radius: 50%;
}

.video-player {
  padding: 80px 0;
}
.video-player .row {
  align-items: flex-start;
}
.video-player .video-player .left {
  width: 100%;
}

.video-content video {
  width: 100%;
}
.video-player .right .card {
  margin-top: 1rem;
  cursor: pointer;
}
.video-player .right .head {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text);
}
.video-player .right .card img {
  width: 35%;
}
.video-player .right .card .content {
  width: 63%;
}
.video-player .right .card .head {
  font-size: 0.9rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text);
}
.video-player .right .card .channle-name,
.video-player .right .card .views-time {
  font-size: 0.7rem;
  margin-top: 0.2rem;
  color: var(--gray-content);
}
.video-player .left .heading h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text);
  margin-top: 0.5rem;
}
.video-player .left .views_time_btns {
  margin-top: 0.7rem;
  color: var(--gray-content);
}
.btn {
  padding: 10px 13px;
  font-size: 1rem;
  margin-left: 0.5rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background: var(--gray-white);
  color: var(--text);
}
.video-player .left .btns .icon {
  margin-right: 0.4rem;
}
.video-player .channle-intro {
  margin-top: 2rem;
  color: var(--text);
}
.video-player .channle-intro .channle img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

.video-player .channle-intro .channle .name {
  font-size: 0.9rem;
}
.video-player .channle-intro .channle .view {
  font-size: 0.8rem;
  color: var(--gray-content);
}
.video-player .channle-intro .btn-subscribe .sub {
  background: var(--btn-color);
  color: #ffffff;
}
.video-player .description {
  width: 60%;
  margin-left: 55px;
  margin-top: 2rem;
}
.video-player .description .content {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: var(--text);
}
.video-player .description .content .link {
  color: blue;
  cursor: pointer;
}

/* // Extra small devices (portrait phones, less than 576px) */

/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... } */

/* // Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1366px) and (max-height: 750px) {
  header .home-part .nav .nav-item {
    line-height: 2.4rem;
  }
  .top-bar .search-bar {
    width: 20rem;
  }
  .col-lg-5 {
    flex-basis: 24% !important;
  }
  .videos-section .channle-content .head {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
  header {
    width: 200px;
  }
  header .home-part .nav .nav-item .nav-link .icon {
    font-size: 1rem;
  }
  header .home-part .nav .nav-item .nav-link .text {
    font-size: 0.9rem;
  }
  header .logo-part .logo-text {
    font-size: 1rem;
  }
  .main {
    width: calc(100% - 200px);
  }
  .top-bar {
    width: calc(100% - 200px);
  }
  .top-bar .search-bar {
    width: 18rem;
  }
  .col-md-4 {
    flex-basis: 50% !important;
  }
  .videos-section .channle-content .head {
    font-size: 0.8rem;
    font-weight: 600;
    text-align: justify;
  }
  .videos-section .channle-content .channle-name {
    font-size: 0.7rem;
  }
  .videos-section .channle-content .timing {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    padding: 20px 10px;
  }
  header {
    width: 100%;
    left: -100%;
    position: absolute;
  }
  header.active-mobile {
    left: 0;
    position: fixed;
  }
  header.active-mobile ~ .videos-section {
    overflow-y: hidden;
  }
  header .close-mobile {
    display: block;
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 1.5rem;
    color: var(--text);
  }
  .main {
    width: 100%;
    padding: 0;
  }
  .top-bar {
    width: 100%;
    padding: 20px 20px;
  }
  .top-bar .logo-mobile {
    height: 35px;
    width: 35px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .top-bar .icon-for-mobile {
    display: block;
    font-size: 2rem;
    color: var(--text);
  }

  .col-lg-5 {
    flex-basis: 100% !important;
  }
  .top-bar .search-bar {
    width: 100%;
    position: absolute;
    top: 68px;
    left: 0;
    background: white;
    z-index: 123;
  }
  .top-bar .voice {
    display: none;
  }
  /* header .logo-part {
    position: absolute;
    left: 210px;
    top: 8px;
  } */
  .top-bar .dark-light .text {
    display: none;
  }
}
